_target_: mini_latent_pd.flow_matching_module.LatentFlowMatchingCFG

model:
  _target_: mini_latent_pd.models.mlp.MoonsNet
  input_dim: 196 # 4 * 7 * 7
  output_dim: 196
  hidden_dim: 512
  time_dim: 64
  # 10 digits + 1 null token
  num_classes: 11 

latent_processor:
  _target_: mini_latent_pd.modules.latent_processors.AutoencoderWrapper
  autoencoder:
    _target_: mini_latent_pd.vae_module.SpatialVAE
    in_channels: 1
    latent_channels: 4
    kl_weight: 0.0025
    encoder_hidden_dims: [32, 64]
    decoder_hidden_dims: [32, 64]

    optimizer:
      _target_: torch.optim.Adam
      _partial_: true
      lr: 0.001
      weight_decay: 0.0

    lr_scheduler:
      _target_: torch.optim.lr_scheduler.ReduceLROnPlateau
      _partial_: true
      patience: 5
      factor: 0.2
  checkpoint_path: "/Users/moustholmes/mini_latent_pd/outputs/2026-02-05/22-14-02/mini_latent_pd/vlqkuyi4/checkpoints/last.ckpt"

alpha_beta_scheduler:
  _target_: mini_latent_pd.modules.schedulers.LinearScheduler
  data_dim: 4 # Rank of the data tensor (B, C, H, W) -> Rank 4

sampler:
  _target_: mini_latent_pd.modules.samplers.GaussianSampler
  target_shape: [4, 7, 7]

ode_solver:
  _target_: mini_latent_pd.modules.solvers.EulerSolver

num_classes: 10
cfg_prob: 0.1
guidance_scale: 3.0

optimizer:
  _target_: torch.optim.Adam
  _partial_: true
  lr: 0.0001
